<div ng-controller="ChecklistController as vm">
	<div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="checklist in vm.checklists track by $index">
		<div class="panel panel-default">
			<div class="panel-body">
				<div ng-click="vm.gotoChecklist($index)">
					<h4>{{checklist.name}}</h4>
					<span>Length: {{checklist.items.length}}</span>
				</div>

				<div class="icon-wrapper">
					<i class="pull-right fa fa-trash fa-2x" ng-click="vm.deleteChecklist()"></i>
					<i class="pull-right fa fa-pencil fa-2x" ng-click="vm.editChecklist()"></i>
				</div>

			</div>
		</div>
	</div>
</div>