<div>
	<ul class="checklist" ng-sortable="sortableConfig" style="overflow: hidden">
		<li class="col-xs-12 col-sm-6 col-md-4" ng-repeat="checklist in vm.checklists track by $index">
			<div class="panel panel-default">
				<div class="panel-body">

					<div class="pointer" ui-sref="items({name: checklist.name, checklist: checklist})">
						<h4>{{checklist.name}}</h4>
						<span>Number of items: {{checklist.items.length}}</span>
					</div>

					<div class="icon-wrapper">
						<!--TODO: bind showDelete to the chesklist-->
						<i class="pull-right fa fa-bars fa-2x handle" ng-click="showDelete = !showDelete"></i>
						<i class="pull-right fa fa-trash fa-2x" ng-if="showDelete" ng-click="vm.openModal($index)"></i>
					</div>

				</div>
			</div>
		</li>
	</ul>

	<div class="fab" ng-class="{active: vm.activateAdd}">
		<div class="add" ng-click="vm.openAddForm()">+</div>

		<div class="add-content">
			<div class="col-xs-12 col-sm-6 top-spacer bottom-spacer">
				<input type="text"
					   class="form-control"
					   id="checklist-add"
					   placeholder="Checklist name"
					   title="Enter name"
					   ng-model="vm.newChecklist.name"
					   maxlength="30"
					   required/>
			</div>

			<div class="col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-0">
				<button class="btn btn-primary btn-space col-xs-5 col-sm-6" ng-click="vm.addChecklist()">Add</button>
				<button class="btn btn-default btn-space col-xs-5 col-sm-6" ng-click="vm.closeAddForm()">Cancel</button>
			</div>
		</div>
	</div>


	<div class="modal fade in" ng-class="{'modal-open-flex': vm.showModal}">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"></div>
				<div class="modal-body">
					<h4>Delete checklist:</h4>
					<h4>{{vm.checklistToDelete.name}}</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="vm.closeModal()">Cancel</button>
					<button type="button" class="btn btn-danger" ng-click="vm.deleteChecklist()">Delete</button>
				</div>
			</div>
		</div>
	</div>
	<div class="hide modal-backdrop fade in" ng-class="{show: vm.showModal}"></div>
</div>