h4
	margin-top: 0

.panel
	margin-bottom: 15px

	.panel-body
		position: relative
		padding: 10px 15px

.icon-wrapper
	position: absolute
	bottom: 10px
	right: 10px

	.fa:active
		color: cornflowerblue

	//fix margin between icons
	.fa.pull-right
		margin-left: 0.7em

