<div class="progress no-margin">
	<div class="progress-bar" ng-style="{width: vm.getPercentage()}"></div>
</div>

<div>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="item in vm.items track by $index">
			<div class="checkbox" style="display: inline;">
				<label>
					<input type="checkbox" ng-model="item.checked" ng-change="vm.toggleItem($index)">
					<span class="item-text" ng-class="{checked: item.checked}">{{item.text}}</span>
				</label>
			</div>

			<i class="pull-right fa fa-ellipsis-v fa-2x"></i>
		</li>
	</ul>
</div>