<div class="progress no-margin">
	<div class="progress-bar" ng-style="{width: vm.getPercentage()}"></div>
</div>

<ul ng-sortable="sortableConfig">
	<li class="item-container" ng-repeat="item in vm.checklist.items track by $index">
		<div class="checkbox inline">
			<label class="checkbox-label">
				<input type="checkbox" ng-model="item.checked" ng-change="vm.toggleItem($index)">
				<span class="checkbox-text" ng-class="{checked: item.checked}">{{item.text}}</span>
			</label>
		</div>
		<i class="pull-right fa fa-bars fa-2x handle" ng-click="showDelete = !showDelete"></i>
		<i class="pull-right fa fa-trash fa-2x" ng-if="showDelete"></i>
	</li>
</ul>

<div class="fab" ng-class="{active: vm.activateAdd}">
	<div class="add" ng-click="vm.openAddForm()">+</div>

	<div class="add-content">
		<div class="col-xs-12 col-sm-6 top-spacer bottom-spacer">
			<input type="text"
				   class="form-control"
				   id="item-add"
				   placeholder="Item text"
				   title="Enter name"
				   ng-model="vm.newItem.text"
				   maxlength="30"
				   required/>
		</div>

		<div class="col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-0">
			<button class="btn btn-primary btn-space col-xs-5 col-sm-6" ng-click="vm.addItem()">Add</button>
			<button class="btn btn-default btn-space col-xs-5 col-sm-6" ng-click="vm.closeAddForm()">Cancel</button>
		</div>
	</div>
</div>
