<div ng-controller="UserController as vm">

	<div class="login-form" ng-class="{error: vm.shakeLogin}">
		<form class="row">
			<i class="fa fa-lock fa-5x" ng-class="{'text-danger': vm.isError}"></i>

			<div class="col-xs-12 bottom-spacer">
				<input type="text" class="form-control" ng-model="vm.user.name" placeholder="Name" title="Name" maxlength="28"
					   autofocus required/>
			</div>

			<div class="col-xs-12 bottom-spacer" style="display: flex">
				<input type="{{vm.passwordType}}" class="form-control" ng-model="vm.user.password"
					   placeholder="Password" title="Password" maxlength="28" required/>

				<i class="fa fa-eye fa-2x" style="position: absolute; right: 18px; bottom: 5px;" ng-click="vm.togglePasswordType()"></i>
			</div>

			<div class="col-xs-12 bottom-spacer">
				<div class="checkbox">
					<label>
						<input type="checkbox">Remember me
					</label>
				</div>
			</div>

			<div class="col-xs-12 bottom-spacer">
				<button type="submit" class="btn btn-primary col-xs-6 col-xs-offset-3" ng-click="vm.login()">Login</button>
			</div>

			<div class="col-xs-12 top-spacer" style="text-align: center">
				<a href="" ng-click="vm.openRegistration()">Create new account</a>
			</div>
		</form>
	</div>

	<div class="register-form" ng-class="{open: vm.openRegister, error: vm.shakeRegister}">
		<form class="row">
			<a href="" class="register-close" ng-click="vm.closeRegistration()"></a>
			<i class="fa fa-lock fa-5x" ng-class="{'text-danger': vm.isError}"></i>

			<div class="col-xs-12 bottom-spacer">
				<input type="text" class="form-control" placeholder="Name" ng-model="vm.user.name" title="Name" maxlength="28" autofocus required/>
				<p class="text-danger" ng-if="vm.doesUserExist()">User already exist, please choose different name.</p>
			</div>

			<div class="col-xs-12 bottom-spacer">
				<input type="password" class="form-control" placeholder="Password" title="Password" ng-model="vm.user.password" required/>
			</div>

			<div class="col-xs-12 bottom-spacer">
				<input type="password" class="form-control" placeholder="Repeat password" ng-model="vm.user.repeatedPassword" title="Repeat password" required/>
			</div>

			<div class="col-xs-12 top-spacer">
				<button type="submit" class="btn btn-primary col-xs-6 col-xs-offset-3" ng-click="vm.register()">Register</button>
			</div>
		</form>
	</div>
</div>
